.invalid_label {
	-fx-focus-color: red;
	-fx-faint-focus-color: pink;
	-fx-highlight-fill: red;
	-fx-text-fill: red;
}

.invalid_control {
	-fx-focus-color: red;
	-fx-faint-focus-color: pink;
	-fx-highlight-fill: red;
	-fx-border-color: red;
	-fx-text-fill: red;
}